<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>計算式新規登録</title>
</head>
<body>
  <h1>新規登録</h1>
  <form action="/top" th:action="@{/register}" method="post">
  	<p>日付ID</p>
    <input type="text" placeholder= "Y01" th:field="${calcDate.dateId}">
    <p>日付名</p>
    <input type="text" placeholder= "一年後" th:field="${calcDate.dateName}">
    <p>加減値（年）</p>
    <input type="text" placeholder= "1" th:field="${calcDate.addYear}">
    <p>加減値（月）</p>
    <input type="text" placeholder= "1" th:field="${calcDate.addMonth}">
    <p>加減値（日）</p>
    <input type="text" placeholder= "1" th:field="${calcDate.addDay}">
    <button type="submit">登録</button>
    <a href="/top">戻る</a>
  </form>
  
</body>
</html>