<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>計算結果画面</title>
</head>
<body>
	<h1>ログイン成功です！</h1>
	<h2><span th:text="${username}">さん、こんにちは！</span></h2>
	
  <form th:action="@{/searchAll}" method="post" >
  	<h2>計算の基準となる日付を入力してください</h2>
    <input type="text" placeholder= "19951013" th:field="*{topForm.baseDate}"><br>
    <p th:if="${#fields.hasErrors('topForm.baseDate')}" th:errors="${topForm.baseDate}" />
    <button type="submit">計算結果実行</button>
    <a href = "register">新規登録</a>
  </form>
	<div>
    <table border="1">
    <thead>
      <tr>
      	<th>No</th>
        <th>日付ID</th>
        <th>日付名</th>
        <th>計算結果</th>
        <th>計算式(年月日)</th>
        <th>編集</th>
      </tr>
     </thead>
     <tbody th:remove="all-but-first" th:each="calcDate, stat : ${results}">
     	<tr >
      		<td th:text= "*{stat.count}">1</td>
        	<td th:id="${stat.count} + '_dateId'"  th:text="*{calcDate.dateId}"></td>
        	<td th:id="${stat.count} + '_dateName'" th:text="*{calcDate.dateName}"></td>
        	<td th:id="${stat.count} + '_calculated'" th:text="*{calcDate.calculated}"></td>
        	<td th:id="${stat.count} + '_ymdDate'" th:text="*{calcDate.ymdDate}"></td>
        	<td>
          		<a th:id="${stat.count} + '_updateButton'" th:href="@{/update/{dateId}(dateId=*{calcDate.dateId})}">更新</a>
          		<form action="/top" th:action="@{/delete/{dateId}(dateId=${calcDate.dateId})}" method="post">
            		<button th:id="${stat.count}" type="submit">消去</button>
          		</form>
        	</td>
      	</tr>
     </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
    	<button>Logout</button>
    </form>
  </div>
</body>
</html>