<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>計算式更新登録</title>
</head>
<body>
  <h1>計算式更新</h1>
  <form action="/top" method="POST" th:action="@{/update/{dateId}(dateId=*{calcDate.dateId})}">
    <p>日付Id</p>
    <input type="text"　disabled="disabled" th:field="*{calcDate.dateId}">
    <p>日付名</p>
    <input type="text" th:field="*{calcDate.dateName}">
    <p>加減値（年）</p>
    <input type="text" th:field="*{calcDate.addYear}">
    <p>加減値（月）</p>
    <input type="text" th:field="*{calcDate.addMonth}">
    <p>加減値（日）</p>
    <input type="text" th:field="*{calcDate.addDay}">
    <button name="update">更新</button>
    <a href="/">戻る</a>
  </form>
</body>
</html>