<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>計算式更新登録</title>
</head>
<body>
  <h1>計算式更新</h1>
  <form th:action="@{/update/{dateId}(dateId=${dateFormula.dateId})}" method="POST">
    <p>日付Id</p>
    <input type="text" th:field="${dateFormula.dateId}">
    <p>日付名</p>
    <input type="text" th:field="${dateFormula.dateName}">
    <p>加減値（年）</p>
    <input type="text" th:field="${dateFormula.addYear}">
    <p>加減値（月）</p>
    <input type="text" th:field="${dateFormula.addMonth}">
    <p>加減値（日）</p>
    <input type="text" th:field="${dateFormula.addDay}">
    <button type="submit">更新</button>
    <a href="top">戻る</a>
  </form>
</body>
</html>